.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: rgb(204, 123, 123);
    color: white !important;
    ;
    text-align: left;
}

.styled-table thead th {
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid black;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(204, 123, 123);
}

.btn {
    border: none;
    color: white !important;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-edit {
    background-color: rgb(42, 190, 141);
}

.btn-delete {
    background-color: #f44336;
}

.btn-view {
    background-color: #beb3b3;
    color: black !important;
    font-weight: 500;
}

.btn-contact {
    background-color: #e82764;
    margin-bottom: 10px;
}